<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="Rectilinear_ScanLineTrace" value="0" />
      <add name="Rectilinear_ScanLineDump" value="0" />
      <add name="Rectilinear_ScanLineVerify" value="1" />
      <add name="Rectilinear_ScanSegmentTrace" value="0" />
      <add name="Rectilinear_ScanSegmentVerify" value="1" />
      <add name="Rectilinear_ScanSegmentDump" value="0" />
      <add name="Rectilinear_VisGraphGenTrace" value="0" />
      <add name="Rectilinear_VisGraphGenVerify" value="1" />
      <add name="Rectilinear_TransGraphTrace" value="0" />
      <add name="Rectilinear_TransGraphVerify" value="1" />
      <add name="Rectilinear_OverlapTrace" value="0" />
      <add name="Rectilinear_OverlapVerify" value="1" />
      <add name="Rectilinear_EventQueueTrace" value="1" />
      <add name="Rectilinear_SsstTrace" value="0" />
      <add name="Rectilinear_SsstDisplay" value="0" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <!-- By default the app creates the tracefile using a commandline-supplied filename, -->
        <!-- to make multiple runs easier, and also to overwrite rather than append to the file. -->
        <!--add name="rectListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="appName.log" /-->
        <!-- -->
        <!-- Uncomment this to remove the default listener, which removes output to the IDE Output window. -->
        <!--remove name ="Default" /-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>