.idd-plot-master
{
    position: relative;
    background-color: white;
    color: black;
    -ms-touch-action: none;
}

.idd-plot-dependant
{
    position: absolute;
    display: block;
}

.idd-plot-canvas
{
    position: absolute;
}

.idd-axis
{
    overflow: hidden;
    cursor: default;
}

.idd-axis-label
{
    position: absolute;
    display: block;
    float: left;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.idd-figure-container
{
    position: absolute;
}

.idd-dom-marker
{
    position: absolute;
    overflow: hidden;
    display: block;
}

.idd-title
{
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.idd-horizontalTitle
{
    text-align: center;
    font-size: smaller;
}

.idd-tooltip
{
    background-color: rgb(249, 251, 195);
    color: black;
    border: 1px solid gray;
    font-size: smaller;
    -moz-box-shadow: 0 0 1em gray;
    -webkit-box-shadow: 0 0 1em gray;
    box-shadow: 0 0 1em gray; 
    padding: 5px;
    position: absolute;
    display: block;
}

.idd-tooltip-coordinates
{
    color: gray;
}

.idd-tooltip-item
{
    margin-bottom: 5px;
}

.idd-verticalTitle
{
    font-size: smaller;
    height: 100%; 
    transform: rotate(270deg);
    transform-origin: 50% 50%; 
    -ms-transform: rotate(270deg);
    -ms-transform-origin: 50% 50%; 
    -transform: rotate(270deg);
    -transform-origin: 50% 50%;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 50% 50%;
}

.unselectable
{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.idd-legend
{
    position: relative;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid grey;  
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
    cursor: default;
}

.idd-legend-item
{
    margin: 5px;
}

.idd-verticalText
{
    transform: rotate(-90deg);
    transform-origin: center;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: center;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: center;
    -o-transform: rotate(-90deg);
    -o-transform-origin: center;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: center;
}